includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - packages/core/src/
        - packages/core/config/
        - packages/core/database/
        - packages/core/routes/
    databaseMigrationsPath:
        - packages/core/database/migrations
    universalObjectCratesClasses:
        - Illuminate\Http\Resources\Json\JsonResource
    level: 1
