includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - packages/core/src/
        - packages/core/config/
        - packages/core/database/
        - packages/core/routes/
    universalObjectCratesClasses:
        - Illuminate\Http\Resources\Json\JsonResource
    # Level 9 is the highest level for Larastan
    level: 5
