{% if session('failure') %}
    <div class="alert alert-warning">
        {{ trans(session('failure')) }}
    </div>
{% endif %}

{% if session('success') %}
    <div class="alert alert-success">
        {{ trans(session('success')) }}
    </div>
{% endif %}

{% if errors and errors.count() %}
    <div class="alert alert-danger">
        Please correct the below errors
    </div>
{% endif %}
