<div class="col-lg-4 col-xxl-3">
    <div class="card">
        <div class="card-header">
            <h5>Category Groups</h5>
        </div>
        <div class="card-body">
            <div class="vertical-tab setting-tab">
                <ul class="nav nav-tabs app-tabs-primary " id="v-bg" role="tablist">
                    {% for group in groups %}
                    <li class="nav-item" role="presentation">
                        <a aria-controls="profile-tab-pane" aria-selected="true"
                           href="{{ route('categories.groups.show', group) }}"
                           class="nav-link {% if active == group.id %} active {% endif %}"
                           id="profile-tab">
                            <i class="ph-bold  ph-user-circle-gear pe-2"></i>
                            {{ group.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
