<div class="col-lg-4 col-xxl-3">
    <div class="card">
        <div class="card-header">
            <h5>Category Groups</h5>
        </div>
        <div class="card-body">
            <div class="vertical-tab setting-tab">
                <ul class="nav nav-tabs app-tabs-primary " id="v-bg" role="tablist">
                    {% for group in groups %}
                    <li class="nav-item" role="presentation">
                        <a aria-controls="profile-tab-pane" aria-selected="true"
                           href="{{ route('categories.groups.show', group) }}"
                           class="nav-link {% if active == group.id %} active {% endif %}"
                           id="profile-tab">
                            <i class="ph-bold  ph-user-circle-gear pe-2"></i>
                            {{ group.name }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

        </div>
    </div>
    {#
    <div class="card">
        <div class="card-header">
            <h5>Time Spent</h5>
        </div>
        <div class="card-body">
            <div>
                <div id="timeSpent"></div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="card hover-effect card-light-primary mt-4">
                <div class="card-body">
                    <h5>Used space</h5>
                    <p class="mt-2 text-secondary f-s-16">Your team has used 80% of your
                        available space. Need more?</p>

                    <div aria-valuemax="100" aria-valuemin="0"
                         aria-valuenow="0" class="progress w-100 mt-3 mb-3" role="progressbar">
                        <div class="progress-bar bg-primary progress-bar-striped"
                             style="width: 78.5%"></div>
                    </div>

                    <span class="mt-4">
                                    <a class="me-3 text-secondary" href="">Dismiss</a>
                                    <a class="text-d-underline" href="">Upgrade plan</a>
                                </span>

                </div>
            </div>
        </div>
    </div>
    #}
</div>
